<html>
    <head></head>
        <title>ประวัติส่วนตัว</title>
    <body bgcolor="#fffacd" text="black "></body>
        <h1>Welcome to:</h1>
        <h2>ชื่อนางสาวกัญญาณัฐ ทองดี ชื่อเล่น ดรีม เกิดวันที่ 19 เดือนเมษายน พ.ศ.2538 อายุ23ปี <br>
            จบมาจากโรงเรียนแก่นนครวิทยาลัย จ.ขอนแก่น<br>
            ปัจจุบันศึกษาอยู่มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น<br>
            รหัสนักศึกษา 59342110298-9</h2>
    <img src="/assets/images/dream.png"width="300"height="300"border="2">

</html>



