<html>
        <head>
            <title> My Profile</title>
        </head>
        <body background="/assets/images/bg2.jpg" >
            <h1 style ="text-align: center ;font-family: 'Comic Sans MS'"><MARQUEE behavior=alternate direction=left sc<h1 style ="text-align: center ;font-family: 'Comic Sans MS'"><MARQUEE behavior=alternate direction=left scrollAmount=3 width="4%"><font face=Webdings>4</font></MARQUEE><MARQUEE scrollAmount=1 direction=left width="2%">| | |</MARQUEE> My profile <MARQUEE scrollAmount=1 direction=right width="2%">| | |</MARQUEE><MARQUEE behavior=alternate direction=right scrollAmount=3 width="4%"><font face=Webdings>3</font></MARQUEE></h1>
            <br> <hr width="50%  size="100"  align="center"><p>
            <h1 style ="text-align: center ;font-family: 'tahoma '"><img src="/assets/images/PAO.jpg"  alt="pao" width="260" height="250"></h1><br>
            <h3 style ="text-align: center ;font-family: WR Tish kid2 ">ชื่อ : โชติกา  นามสกุล : เถื่อนนาดี</h3>
            <h3 style ="text-align: center ;font-family: WR Tish kid2 ">ชื่อเล่นชื่อ : เปา</h3>
            <h3 style ="text-align: center ;font-family: WR Tish kid2 ">รหัสนักศึกษา : 59342110146-1</h3>
            <h3 style ="text-align: center ;font-family: WR Tish kid2 ">วัน/เดือน/ปีเกิด : 18 พ.ค. 2541 อายุ : 20 ปี</h3>
            <h3 style ="text-align: center ;font-family: WR Tish kid2 ">วัน/เดือน/ปีเกิด : 18 พ.ค. 2541 อายุ : 20 ปี</h3>
            <h3 style ="text-align: center ;font-family: WR Tish kid2 ">ปัจจุบันกำลังศึกษาอยู่ที่ : มหาวิทยาลัยเทคโนโลยีราชมงคล อีสาน วิทยาเขต ขอนแก่น</h3>
            <h3 style ="text-align: center ;font-family: WR Tish kid2 ">คณะ : บริหารธุรกิจและเทคโนโลยีสารสนเทศ</h3>
            <h3 style ="text-align: center ;font-family: WR Tish kid2 ">สาขาวิชา : ระะบบสารสนเทศทางคอมพิวเตอร์</h3>
            <h3 style ="text-align: center ;font-family: WR Tish kid2 ">จบมาจาก : วิทยาลัยเทคโนโลยีภาคตะวันออกเฉียงเหนือ ขอนแก่น</h3>


        </body>
</html>